@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Open+Sans:wght@400;600&family=Space+Grotesk&family=Urbanist:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.purple_gradient {
    background-color: #ff3bff;
background-image: linear-gradient(90deg, #ff3bff 0%, #ecbfbf 37%, #5c24ff 66%, #d94fd5 100%);

}


.input{
    @apply border-b-4 bg-transparent text-slate-200 border-[#ecbfbf]  focus:border-[#ff3bff]  py-2 px-8 outline-none rounded-2xl focus:bg-slate-950
}


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

